@use './_variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    color: var(--text-primary);
    background-color: var(--white);
    line-height: 130%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}