@font-face {
    font-family: 'TT Travels Next Trial Medium';
    src: url('../../public/fonts/TTTravelsNextTrialMedium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../public/fonts/TTNorms-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../public/fonts/TTNorms-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../public/fonts/TTNorms-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../../public/fonts/TTNorms-ExtraBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}